.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HeaderLeft {
  float: left;
}

.HeaderRight {

  background-color: rgb(57, 78, 173); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: right; 
  margin: 30px 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
